/*
* Global TEC brand color charts
* author:       mdube@tec, 2018
* refers to:    teccenters.atlassian.net/wiki/x/BoBDB
* ________________________________________________________________
*
** Connectivia
** Coginov
** RFP Alert Services
** RFP Buyers
** Technology Evaluation Centers (v.1)
** Technology Evaluation (v.2) and Smart App Directory (sad)
*/

// Connectivia
$cnv-lime:          #aebc21;
$cnv-blue:          #4174a4;
$cnv-darker-blue:   #1c2f47;
$cnv-gray-900:      #231f20;
$cnv-gray-700:      #4d4d4f;
$cnv-gray-200:      #f3f3f3;

// Coginov
$cog-red:           #f50b14;
$cog-maroon:        #933;
$cog-black:         #212121;
$cog-gray-600:      #555;
$cog-gray-400:      #aaa;
$cog-blue-sky:      #56a0d3;
$cog-dark-blue:     #4c75a7;
$cog-navy-blue:     #0065cb;
$cog-green:         #1bb47f;
$cog-turquoise:     #00cbcb;
$cog-lime:          #99cb00;
$cog-orange:        #f90;
$cog-brown:         #996533;
$cog-purple:        #653399;

// RFP Alert Services
$rfpa-blue-sky:     #2493c6;
$rfpa-gray-900:     #333;
$rfpa-black:        #1e2424;
$rfpa-white:        #fff;

// RFP Buyers
$rfpb-logo-orange:  #f0ad4e;
$rfpb-logo-beige:   #f4ce9f;
$rfpb-logo-wheat:   #d3ab7b;
$rfpb-logo-tan:     #b28858;
$rfpb-logo-peru:    #916534;
$rfpb-logo-darker:  #494949;
$rfpb-dark-brown:   #4a423f;
$rfpb-black:        #222;
$rfpb-gray-900:     #595959;
$rfpb-gray-700:     #837b78;
$rfpb-gray-600:     #9d9d9d;
$rfpb-gray-300:     #ddd;
$rfpb-white:        #f5f5f5;

// Technology Evaluation Centers v.1 (2012>2018)
$tec-red:           #da1f27;
$tec-blue-sky:      #00aeef;
$tec-blue-royal:    #0065d3;
$tec-orange:        #f26522;
$tec-black:         #000;
$tec-gray-darker:   #292728;
$tec-gray-dark:     #4d4d4f;
$tec-gray-med:      #b7b7b7;
$tec-gray-light:    #f3f3f3; //smokegray
$tec-white:         #fff;

// Technology Evaluation (v.2) and Smart App Directory (sad)
$te2-logo:          #da1f27;
$te2-blue-main:     #00aeef;
$te2-blue-dark:     #007fbc;
$te2-blue-light:    #66e0ff;
$te2-orange-main:   #ffa000;
$te2-yellow:        #ffd149;
$te2-brown:         #c67100;
$te2-black:         #070707;
$te2-white:         #fff;
$te2-gray-200:      #dbdbdb;
$te2-gray-400:      #a5a5a5;
$te2-gray-600:      #707070;
$te2-gray-800:      #484848;

// Kentico's admin dashboard colors
$kentico-logo:      #f05a22;
$k-magenta:         #e14344;
$k-coralorange:     #c98209;
$k-yellow:          #feb54f;
$k-plum:            #ccada8;
$k-purple:          #784b84;
$k-forestgreen:     #497d04;
$k-forestgreen-hover: #355e00;
$k-darkgreen:       #83b558;
$k-palegreen:       #bde19a;
$k-lightblue:       #d0e8ed;
$k-skyblue:         #c0dee2;
$k-dodgerblue:      #1175ae;
$k-navyblue:        #0f6194;
$k-darkergray:      #262524;
$k-darkgray:        #504e4c;
$k-midgray-hover:   #a3a2a2;
$k-midgray:         #bdbbbb;
$k-lightgray:       #e5e5e5;
